
/* common styles */

:root {
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
    --dark-gray: hsl(0, 0%, 55%);
    --darker-gray: hsl(0, 0%, 41%);
}

/* Border box declaration */
html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*, 
*:before, 
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Geneva, sans-serif;
}

html, body {
    width: 100%;
    height: 100%;
    min-width: 375px;

}

/* end of common styles */

/* body styles */

.modal {
    width: 100%;
    height: 100%;
    padding: 0 2rem;
    touch-action: none;
    
    position: fixed;
    z-index: 1;
    visibility: hidden;
    opacity: 0;

    background-color: var(--black);

    transition: all .3s;
}

.modal > nav {
    width: 100%;
    height: 100%;
    visibility: inherit;
    opacity: inherit;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
}

a {
    color: var(--white);
    text-decoration: none;
}

header nav > div{
    display: inline-block;
    position: relative;
}

header nav a::after {
    display: inline-block;
    content: "";

    position: absolute;
    top: 140%;
    left: calc(50% - 1.5rem);

    background-color: hsla(0, 0%, 0%, 0);

    transition: all .5s;

}

header nav a:hover::after {
    display: inline-block;
    width: 3rem;
    height: 2px;
    content: "";

    position: absolute;
    top: 140%;
    left: calc(50% - 1.5rem);

    background-color: var(--white);

    transition: all .5s;
}

.modal > nav a {
    margin: 1.5rem;
    
    text-transform: uppercase;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    font-size: 3em;
}

header {
    width: 100%;
    height: 8rem;
    padding: 0 6%;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    position: absolute;
    z-index: 2;
}

header > div:first-child {
    width: 16rem;
}

header img {
    width: 100%;
    height: auto;
    padding: 0;
    margin-top: 3px;
}

header nav {
    display: none;
}

[type="checkbox"] {
    display: none;
}

.menu-toggle {
    width: 30px;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.menu-toggle__line {
    width: 30px;
    height: 2px;
    position: relative;

    background-color: var(--white);

    transition: transform .3s, top .2s;
}

.menu-toggle__line::before,
.menu-toggle__line::after {
    width: 30px;
    height: 2px;
    display: block;
    position: absolute;
    content: "";

    background-color: var(--white);
    transition: transform .3s, top .2s;
}

.menu-toggle__line::before {
    top: -8px;
}

.menu-toggle__line::after {
    top: 8px;
}

[type="checkbox"]:checked + .menu-toggle > label > .menu-toggle__line {
    transform: rotate(-45deg);
}

[type="checkbox"]:checked + .menu-toggle > label > .menu-toggle__line::before {
    top: 0;
    transform: rotate(90deg);
}

[type="checkbox"]:checked + .menu-toggle > label > .menu-toggle__line::after {
    top: 0;
    transform: rotate(90deg);
}

.hero {
    margin: 0;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.hero > picture {
    width: 100%;
}

.hero > picture img {
    width: 100%;
    padding: 0;
}

.hero__desktop {
    display: none;
}

h1 {
    max-width: 340px;
    position: absolute;
    padding: 30px 30px;
    margin: 10%;

    text-transform: uppercase;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    font-size: 4em;

    color: var(--white);
    border: var(--white) 2pt solid;
}

h2 {
    text-transform: uppercase;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    font-size: 3.125em;
}

h4 {
    text-transform: uppercase;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
}

img {
    padding: 5% 5% 0 5%;
    max-width: 100%;
}

p {
    padding: 0 10%;
    margin: 0;
    color: var(--dark-gray);

    text-align: center;
    font-family: 'Alata', sans-serif;
    font-weight: 400;
    font-size: 15px;
}

section {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
}

.margin-top {
    margin-top: 7rem;
}

.our-creations > div {
    position: relative;
}

.our-creations > div::before {
    width: 90%;
    height: 86%;
    margin: 5%;
    position: absolute;
    content: "";

    opacity: .5;
    background: linear-gradient(to right, var(--black) 20%, hsla(0, 0%, 0%, 0) 80%);
}

h4 {
    position: absolute;
    bottom: 15%;
    margin: 0 0 0 10%;

    font-size: 2.25em;

    color: var(--white);
}

button {
    width: 16rem;
    height: 4rem;
    margin: 9%;

    text-transform: uppercase;
    font-family: 'Alata', sans-serif;
    font-weight: 400;
    letter-spacing: 4px;
    font-size: 15px;

    color: var(--black);
    background-color: var(--white);
    cursor: pointer;

    border: solid 1px var(--black);

    outline: none;

    transition: all .5s;
}

button:hover {
    color: var(--white);
    background-color: var(--black);

    transition: all .5s;
}

footer {
    background-color: black;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
}

footer > div {
    width: 16rem;
}

footer > div img {
    margin: 5rem 0 1rem;
    width: 100%;
}

footer a {
    color: var(--white);
}

footer > nav {
    padding: 1.5rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;

    font-size: 15px;
    font-family: 'Alata', sans-serif;
    font-weight: 400;
}

footer > nav a {
    padding: 1rem;
}

.footer-nav {
    grid-column: 1/2;
    grid-row: 2/3;
}

.social-media {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;

    grid-column: 2/3;
    grid-row: 1/2;
}

.social-media a {
    padding: .75rem;
}

footer > p {
    padding: 1rem;
}

footer nav > div{
    display: inline-block;
    position: relative;
}

footer nav a::after {
    display: inline-block;
    content: "";

    position: absolute;
    top: 140%;
    left: calc(50% - 1.5rem);

    background-color: hsla(0, 0%, 0%, 0);

    transition: all .5s;

}

footer nav a:hover::after {
    display: inline-block;
    width: 3rem;
    height: 2px;
    content: "";

    position: absolute;
    top: 140%;
    left: calc(50% - 1.5rem);

    background-color: var(--white);

    transition: all .5s;
}

.social-media img {
    height: 2.5rem;
}

.social-media > div{
    display: inline-block;
    position: relative;
}

.social-media a::after {
    display: inline-block;
    content: "";

    position: absolute;
    top: 4rem;
    left: calc(50% - 1.5rem);

    background-color: hsla(0, 0%, 0%, 0);

    transition: all .5s;

}

.social-media a:hover::after {
    display: inline-block;
    width: 3rem;
    height: 2px;
    content: "";

    position: absolute;
    top: 4rem;
    left: calc(50% - 1.5rem);

    background-color: var(--white);

    transition: all .5s;
}


/* end of body styles */

/* responsive design */

@media all and (min-width: 750px) {

    .hero {
        align-items: flex-start;
    }

    h1 {
        margin: 5rem 0 0 6%;
        max-width: 380px;
    }

    .vr-section p {
        width: 80rem;
    }


}


@media all and (min-width: 1000px) {

    header > div:first-child {
        width: 20rem;
    }

    h1 {
        max-width: 560px;
        font-size: 6em;
    }

    .menu-toggle {
        display: none;
    }

    header {
        height: 15rem;
    }

    header nav {
        display: block;

        font-family: 'Alata', sans-serif;
        font-weight: 400;
        font-size: 15px;
    }

    header nav a {
        padding: 0 1.5rem;

    }
}

@media all and (min-width: 1439px) {

    h1 {
        margin: 7rem 0 0 6%;
        max-width: 720px;
        font-size: 7em;
    }

    h2 {
        font-size: 4.5em;

    }

    footer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    footer > div img {
        margin: 4rem 0 2rem 10rem;
    }

    .footer-nav {
        margin: 0rem 0 4rem 10rem;
        padding: 10px 0;
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
    }

    .social-media {
        margin: 4rem 10rem 2rem 0rem;
        justify-content: flex-end;
    }

    .copyright {
        margin: 0 10rem 4rem 0;
        text-align: right;
    }

    .vr-section {
        display: flex;
        width: 100%;
        position: relative;

        flex-flow: row nowrap;
        justify-content: flex-start;
    }

    .vr-section img {
        width: 65%;
        padding: 10rem 0 10rem 16.25rem;

    }

    .vr-section h2 {
        width: 40rem;
        margin-top: 0;

        text-align: left;
    }

    .vr-section div {
        width: 64.5rem;
        padding: 10rem;
        position: absolute;
        top: 45%;
        left: 52%;
        z-index: 1;

        background-color: var(--white);
    }

    .vr-section p {
        padding: 0;
        width: 92.5%;
        text-align: left;
    }

    .our-creations {
        display: grid;
        grid-template-columns: repeat(4, 1fr);

        padding: 15rem;
    }

    .our-creations h2 {
        grid-row: 1/2;
        grid-column: 1/4;

        text-align: left;
    }

    .our-creations button {
        grid-row: 1/2;
        grid-column: 4/5;

        justify-self: end;
    }

    .our-creations h2 {
        padding-left: 2rem;
    }

    .our-creations div::before {
        width: 256px;
        height: 450px;

        background: linear-gradient(to top, var(--black) 20%, hsla(0, 0%, 0%, 0) 80%);

        transition: all .5s;
    }

    .our-creations div:hover::before {
        background: hsla(0, 100%, 100%, 0.975);

        transition: all .5s;
    }

    .our-creations div:hover > h4 {
        color: var(--black);
        transition: all .5s;
    }

    .our-creations img {
        padding-bottom: 5%;
    }

    h4 {
        font-size: 3em;
        left: 6%;
        bottom: 10%;
    }

}



/* end of responsive design */